@keyframes example {
  from {background-color: #f4f3f3;}
  to {background-color: white;}
}

.image-size{

width: 80%;
margin-bottom: 30px;
height: 300px;

}

.container{

	margin: 80px;
	text-align: center;

	animation-name: example;
  animation-duration: 1s;

}

.login-button{
	background-color: green;
}

.home-text{
	margin-left: 10%;
	text-align: left;
}


.header-properties{
	padding-top: 30px;

}

.login-background{
	background-color: #1B1B1B;
}

.form-login{
	margin: 30px;
}

.solid-border-login{
	border-color: #ffffff;
border-style: solid;
}

.name-and-icon-login{
	display: inline-block;
}

.email-login-properties{
	text-align: center;
	background-color: #3C79E6;
	font-weight: 600;
	color: white;
}

.margin-login-options{
	margin: 30px;
}

.info-training{
	height: 100px;
}

.label-form-subscribe{
	text-align: left
}

.terms-of-use-header-text{
	margin-bottom: 30px;
	text-align: left
}

a:link {
  text-decoration: none;
}

.button-feeling{
	background-color: transparent;
	border-color: #000;
	border-style: solid;
}

.terms-of-use-content-text{
	
	text-align: left;
}

.box-next-subscribe{

	background-color: #A6D02D;
	padding: 5px;
	height: 35px;
	color: #ffffff;
	font-weight: 700;
}

.subscribe-background{
	background-color: white;
	color: black;
}

.background-form-login{
	background-color: #272727;
}

.background-form-login::placeholder{
	color: white;
	font-weight:300;
}

.login-image{
	margin: 30px;
	max-height: 100px;
	max-width: 50%;
}

.other-option-login{
	color: #A6D02D;
	font-weight: 700;
}

.create-account-text{
	color: #A6D02D;
	font-weight: 400;
}